// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main {
  margin-top: 73px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar {
  height: 75px;
}

#chat {
  height: 91vh;
  /* overflow-y: auto; */
  width: 100%;
}

#gamescreen {
  height: 91vh;
}

#messagebox{
  max-height: 80vh;
  overflow-y: scroll;
  margin-right:25px;
  margin-top: 25px;
  border: 1px dotted #111;
}

#chatform{
  margin-top: 25px;
  width:100%;
}

#chatform input[type=submit]{
  width:25%;
}

#message_content{
  width:50%;
}